@font-face {
    font-family: 'anybody';
    src: url('../static/font/Anybody-VariableFont_wdth\,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html * {
    font-size: 20px;
    line-height: 1.625;
    color: gray;
    font-family: anybody;
  }

@keyframes fadeinall {
    0% {
      opacity: 1; }
    97% {
      opacity: 0; }
    98% {
      opacity: 0;
      -webkit-transform: translateY(0);
      transform: translateY(0); }
    100% {
      opacity: 0;
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
      z-index: -1; } }

body {
    margin:0;
    padding:0;
}

.content{
    margin-top: 2rem;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-bottom: 2rem;
}

#content-wrap {
    padding-bottom: 7rem;    /* Footer height */
  }

footer {
    position: absolute;
    margin-top: 2rem;
    bottom: 0;
    width: 100%;
    height: 8rem;   /* Footer height */
    text-align: center;
    margin: auto;
    
    background-color: rgb(37, 37, 37);
  }

header h1{
    font-size: 50px;
    font-weight: bold;
    margin-left: 5rem;
    margin-right: 5rem;
}

.home-header{
    font-size: 50px;
    font-weight: bold;
    color: rgb(180, 180, 180);
}

.home-section{
    font-size: 30px;
    font-weight: bold;
    color: rgb(180, 180, 180);
}


.navbar{
    margin-left: 5rem;
    margin-right: 5rem;
    border-radius: 5px;
}
.nav-item{
    margin-left: 1rem;
}

#page-container {
    position: relative;
    min-height: 100vh;
  }

.row {
    display: flex;
}

.section-header{
    font-size: 30px;
    font-weight: bold;
    color: rgb(180, 180, 180);
}

small{
    line-height: 75px;
}

/* Animation stuff */

  .wavy span{
    font-weight: bold;
    color: rgb(180, 180, 180);
    position: relative;
    display: inline-block;
    animation: wavyText 2s ease-in-out infinite;
    animation-delay: calc(0.1s * var(--i));
  }

  @keyframes wavyText {
    0%   {transform: translateY(0.25em);}
    60%  {transform: translateY(-0.25em);}
    100%  {transform: translateY(0.25em);}
  }