<!DOCTYPE html>

<html> 
  <body>
    <div class="about-wave-top">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none">
        <defs>
           <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="wavies">
          <use xlink:href="#gentle-wave" x="50" y="0" fill="#d5d5d5"/>
          <use xlink:href="#gentle-wave" x="50" y="2" fill="#e5e5e5"/>
          <use xlink:href="#gentle-wave" x="50" y="4" fill="#F5FFFC"/>  
        </g>
       </svg>
    </div>
    <div class="white-background" id="scroll-to-about">
      <div class="section-container">
        <div class="about-grid">
          <div class="about-img">
            <img class="about-img" src="https://placehold.co/300x400" alt="">
          </div>
          <div class="about-greeting">
            Welcome!
          </div>
          <div class="aboutme">
            About me
          </div>
          <div class="about-desc">
            Thank you for checking out my portfolio! I'm a software engineer living in North 
            Carolina, USA. In the last 3 years, I have worked in front-end development, back-end 
            development, and software internet security. Alongside I have profiency in agile 
            methodology and git practices. I enjoy activities like rock climbing, hiking,
            and cooking.
            <br>
            <br>
            I am interested in a role where I can further expand my technical skillset.
          </div>
          <ul class="about-icon-container">
            <li class="about-icon">
              <a class="contact" id="contact-me" onclick="scrollToEnd()" href="#!">
                  CONTACT ME >
              </a>
            </li>
            <li class="about-icon">
              <a href="https://www.linkedin.com/in/paiktra-nom-984020154/">
                <i class="fab fa-github fa-hover" style="color: #696BFF;"></i>
              </a>
            </li>
            <li class="about-icon">
              <a href="https://github.com/PaiktraNom/">
                <i class="fa-brands fa-linkedin fa-hover" style="color: #696BFF;"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="about-wave-bottom" style="transform:rotate(180deg)">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none">
        <defs>
           <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="wavies">
          <use xlink:href="#gentle-wave" x="50" y="0" fill="#d5d5d5"/>
          <use xlink:href="#gentle-wave" x="50" y="2" fill="#e5e5e5"/>
          <use xlink:href="#gentle-wave" x="50" y="4" fill="#F5FFFC"/>  
        </g>
       </svg>
    </div>
    <script src="js/base.js"></script>
  </body> 
</html>