<!DOCTYPE html>

<html> 
  <body>
    <div class="white-background">
      <div class="section-container">
        <div class="about-grid">
          <div class="about-img">
            <img class="about-img" src="https://placehold.co/300x400" alt="">
          </div>
          <div class="about-greeting">
            Welcome!
          </div>
          <div class="aboutme">
            About me
          </div>
          <div class="about-desc">
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu 
            fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in 
            culpa qui officia deserunt mollit anim id est laborum."
          </div>
          <ul class="about-icon-container">
            <li class="about-icon">
              <a class="contact" id="contact-me" onclick="scrollToEnd()" href="#!">
                  CONTACT ME >
              </a>
            </li>
            <li class="about-icon">
              <a href="https://www.linkedin.com/in/paiktra-nom-984020154/">
                <i class="fab fa-github fa-hover" style="color: #696BFF;"></i>
              </a>
            </li>
            <li class="about-icon">
              <a href="https://github.com/PaiktraNom/">
                <i class="fa-brands fa-linkedin fa-hover" style="color: #696BFF;"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <script src="js/base.js"></script>
  </body> 
</html>