<!DOCTYPE html>

<html> 
  <body>
    <div class="about-wave-top">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none">
        <defs>
           <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="wavies">
          <use xlink:href="#gentle-wave" x="50" y="0" fill="#7fffbf"/>
          <use xlink:href="#gentle-wave" x="50" y="2" fill="#c6ffe4"/>
          <use xlink:href="#gentle-wave" x="50" y="4" fill="#F5FFFC"/>  
        </g>
       </svg>
    </div>
    <div class="white-background">
      <div class="section-container">
        <div class="about-grid" id="scroll-to-about">
          <div class="about-img">
            <img class="about-img" src="static/img/Pat-1.png" alt="">
          </div>
          <div class="about-greeting">
            Welcome!
          </div>
          <div class="aboutme">
            About me
          </div>
          <div class="about-desc">
            After graduating from South Dakota State University, my journey began with an internship at 
            USGS/EROS in South Dakota, where I later transitioned into a full-time role as a professional 
            software engineer. With three years of experience in front-end, back-end, and software internet 
            security, I am dedicated to bettering my coding skills and learn more about different programming languages and tools.
            <br><br>
            Whenever I'm away from my desk, my interests span from rock climbing and hiking to crafting keyboards and cooking.
            <br><br>
            My dream is to find a job that not only enhances my technical skills but also takes them to the next level. I 
            am enthusiastic about the prospect of connecting with you and exploring potential synergies!
          </div>
          <ul class="about-icon-container">
            <li class="about-icon">
              <a class="contact" id="contact-me" onclick="scrollToEnd()" href="#!">
                  CONTACT ME >
              </a>
            </li>
            <li class="about-icon">
              <a href="https://github.com/PaiktraNom/">
                <i class="fab fa-github fa-hover" target="_blank" rel="noreferrer" style="color: #696BFF;"></i>
              </a>
            </li>
            <li class="about-icon">
              <a href="https://www.linkedin.com/in/paiktra-nom-984020154/">
                <i class="fa-brands fa-linkedin fa-hover" target="_blank" rel="noreferrer" style="color: #696BFF;"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="about-wave-bottom" style="transform:rotate(180deg)">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none">
        <defs>
           <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="wavies">
          <use xlink:href="#gentle-wave" x="50" y="0" fill="#7fffbf"/>
          <use xlink:href="#gentle-wave" x="50" y="2" fill="#c6ffe4"/>
          <use xlink:href="#gentle-wave" x="50" y="4" fill="#F5FFFC"/>  
        </g>
       </svg>
    </div>
    <script src="js/base.js"></script>
  </body> 
</html>