<!DOCTYPE html>
<body>
    <div class="white-background">
        <div class="section-container" style="padding-top: 50px; padding-bottom: 300px;">
            <div class="timeline">
                <div class="outer">
                  <div class="card">
                    <h3>Education</h3>
                    <div class="info">
                      <h1 class="title education full-name">South Dakota State University</h1>
                      <h1 class="title education short-name">SDSU</h1>
                      <p class="timeline-date">August 2017 - May 2021</p>
                      <ul class="education-info">
                        <li>- Graduated with magna cum laude distinction</li>
                        <li>- Bachelor of Science in Computer Science</li>
                        <li>- Minors in Mathematics and Software Engineering</li>
                      </ul>
                    </div>
                  </div>
                  <div class="card">
                    <h3>Work Experience</h3>
                    <div class="info">
                      <h1 class="title job full-name">Land Processing Distributed Active Archive Center (LPDAAC)</h1>
                      <h1 class="title job short-name">LPDAAC</h1>
                      <p class="timeline-date">September 2020 - June 2023</p>
                      <ul class="education-info">
                        <li>- Debugged, maintained, and built several enterprise level applications.</li>
                        <li>- Worked directly with NASA scientists for requirements gathering.</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</body>
</html>