<!DOCTYPE html>
<body>
    <div class="white-background">
        <div class="section-container" style="padding-top: 50px; padding-bottom: 50px;">
            <div class="timeline"> <!--Content container height depends on this-->
                <div class="outer">
                  <div class="card">
                    <h3>Education</h3>
                    <div class="info">
                      <h1 class="title education full-name">South Dakota State University</h1>
                      <h1 class="title education short-name">SDSU</h1>
                      <p class="timeline-date">August 2017 - May 2021</p>
                      <ul class="education-info">
                        <li>- B.E., Computer Science with Minors in Mathematics and Software Engineering</li>
                        <li>- Graduated with magna cum laude distinction</li>
                      </ul>
                    </div>
                  </div>
                  <div class="card">
                    <h3>Work Experience</h3>
                    <div class="info">
                      <h1 class="title job full-name">Land Processing Distributed Active Archive Center (LP DAAC)</h1>
                      <h1 class="title job short-name">LP DAAC</h1>
                      <p class="timeline-date">September 2020 - June 2023</p>
                      <ul class="education-info">
                        <li>- Revitalized 12 enterprise-level applications by overhauling over 100 outdated libraries across various programming languages, 
                          allowing the groundwork for automatic version upgrades to fortify their longevity and ensure seamless functionality.</li>
                        <li>- Collaborated closely with NASA land data scientists to gather project requirements, resulting in the creation
                          of over 150 Jira tickets. Facilitating the development of new features and enhanced project management
                          strategies.</li>
                        <li>- Enhanced the security posture of LP DAAC tools by leveraging the Acunetix tool. Implemented robust security measures 
                          and conducted regular vulnerability assessments, ensuring the uncompromised security of all LP DAAC applications.</li>
                      </ul>
                    </div>

                    <div class="info">
                      <h1 class="title job full-name">Remotasks</h1>
                      <h1 class="title job short-name">Remotasks</h1>
                      <p class="timeline-date">January 2024 - Present</p>
                      <ul class="education-info">
                        <li>- Trained multiple Large Language Models (LLMs) on coding in a diverse range of languages including Python, Java, JavaScript, and SQL
                            covering a wide range of topics such as web development, algorithm, frameworks, and more.</li>
                        <li>- Crafted intricate prompts to evaluate LLM responses, ensuring accuracy and integrity through meticulous review.</li>
                        <li>- Extended conversations with the LLM for tasks involving programming languages to enhance comprehension and performance.</li>
                        <li>- Reviewed and analyzed other taskers' interactions with the LLM, ensuring adherence to high-quality standards.</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</body>
</html>