<!DOCTYPE html>

<html> 
  <head> 
    <script src="js/jquery.js"></script>
    <script src="js/base.js"></script>
  </head> 

  <body>
    <div class="home">
  
      <div class="row">
        <div class="home-header">
          Hi! &#x1F44B;
        </div>
        <div class="home-section">
          I am Paiktra Nom [pac·tra] [nom]
        </div>
        <p><img src="https://placehold.co/200" alt="" style="float: right;">
          Although, you can refer to me as
  
          <span class="wavy">
            <span style="--i:1">P</span>
            <span style="--i:2">a</span>
            <span style="--i:3">t</span>
            <span style="--i:4">.</span>
          </span>
          <br>
          I'm a software developer with a passion to solve problems.
        </p>
      </div>
    </div>
    

  </body> 
</html>