<!DOCTYPE html>

<html> 
  <head> 
    <script src="js/jquery.js"></script>
    <script src="js/base.js"></script>
  </head> 
  <body> 

    <h1 class="section-header">
      Header
    </h1>
      <div>
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor 
        in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
        sunt in culpa qui officia deserunt mollit anim id est laborum."
      </div>
    <img src="https://placehold.co/400" alt="" style="margin-bottom: 5rem;">

  </body> 
</html>