<!DOCTYPE html>

<html> 
  <head> 
    <script src="js/jquery.js"></script>
    <script src="js/base.js"></script>
  </head> 

  <body>
    <div class="home">
      <div class="row">
        <div class="home-header">
          Hello! &#x1F44B;
        </div>
        <div class="header-container">
          <div class="phonics">[pac·tra] [nom]</div>
          <div class="home-section">I am Paiktra Nom</div>
          <div class="home-subheader">
            Although, you can call me
            <span class="wavy">
              <span style="--i:1">P</span>
              <span style="--i:2">a</span>
              <span style="--i:3">t</span>
              <span style="--i:4">.</span>
            </span></div>
        </div>

        <div><img src="https://placehold.co/200" alt="" style="float: right;">
          <br>
          I am a problem solving enthusiest, <br>
          working in the field of software engineering.</div>
      </div>
    </div>
    

  </body> 
</html>