<!DOCTYPE html>

<html>
  <body>
    <div class="landing-section-container section-container parallax">
      <div class="landing-grid">
        <div class="landing-greeting">
          Hello! &#x1F44B;
        </div>
        <div class="phonics">[pac·tra]</div>
        <div class="landing-header">
          <nobr>I am <span class="seafoam">Paiktra Nom.</span></nobr>
        </div>
        <div class="landing-subheader">
          Although, you can call me
          <span class="wavy">
            <span style="--i:1">P</span>
            <span style="--i:2">a</span>
            <span style="--i:3">t</span>
            <span style="--i:4">.</span>
          </span>
        </div>
        <div class="landing-subsubheader">
          I am a problem-solving enthusiast,
          working in the field of software engineering.
        </div>
        <div class="landing-scroll">
          <a href="#!" onclick="scrollToAbout()" style="-webkit-text-fill-color: #281150; text-decoration: none;">
            SCROLL DOWN
            <i class="fa-solid fa-arrow-down" style="color: #281150;"></i>
          </a>
        </div>
      </div>
    </div>
  </body> 
</html>