<!DOCTYPE html>

<html> 
  <head> 
    <script src="js/jquery.js"></script>
    <script src="js/base.js"></script>
  </head>
  <!--Landing-->
  <body>
    <div class="landing section-container">
      <div class="landing-grid">
        <div class="landing-greeting">
          Hello! &#x1F44B;
        </div>
        <div class="phonics">[pac·tra]</div>
        <div class="landing-header">
          <nobr>I am <span class="seafoam">Paiktra Nom.</span></nobr>
        </div>
        <img class="landing-img" src="https://placehold.co/350" alt="">
        <div class="landing-subheader">
          Although, you can call me
          <span class="wavy">
            <span style="--i:1">P</span>
            <span style="--i:2">a</span>
            <span style="--i:3">t</span>
            <span style="--i:4">.</span>
          </span>
        </div>
        <div class="landing-subsubheader">
          I am a problem-solving enthusiast,
          working in the field of software engineering.
        </div>
      </div>
    </div>
  </body> 
</html>