<!DOCTYPE html>
<html lang="en">
<body>
    <div class="section-container projs">
        <div class="proj-container">
            <div class="proj-header">Projects</div>
            <div class="proj-card">
                <div class="proj-header-small">Projects</div>
                <h2 class="proj-title">LP DAAC External Website</h2>
                <div class="proj-desc">
                    The Land Processes Active Archive Center (LP DAAC) is responsible for handling of 
                    land data products for approximately 200,000 users monthly. Raw data is collected 
                    from satellite sensors, such as Advanced Spaceborne Thermal Emission and Reflection 
                    Radiometer (ASTER) aboard NASA's Terra satellite, ingests it for the public, 
                    and archives the products for future use.
                </div>
                <li class="proj-button">
                    <a class="proj-live" href="https://lpdaac.usgs.gov" target="_blank">
                        CHECK IT OUT >
                    </a>
                </li>
            </div>
            <div class="proj-card">
                <h2 class="proj-title">AESICS</h2>
                <div class="proj-desc">
                    The ASTER Emergency Scheduling Interface and Control System (AESICS) is a web application that is used
                    by LP DAAC Scientists. AESICS integrates real-time satellite monitoring of disasters to the acquisition of
                    high-resolution remote sensing data. This app is powered by Python Flask and uses a caches requests from
                    its database.
                </div>
                <li class="proj-button">
                    <a class="proj-live" href="https://aesics.cr.usgs.gov" target="_blank">
                        CHECK IT OUT >
                    </a>
                </li>
            </div>
            <div class="proj-card">
                <h2 class="proj-title">Listings App</h2>
                <div class="proj-desc">
                    The Listings App is a dynamic website builder tailored specifically for individuals 
                    engaged in animal breeding, catering to both farmers and pet owners alike. 
                    Built with Django framework and powered by Wagtail CMS, the Listings App offers a 
                    platform to showcase and promote various breeding services. It harnesses
                    the capabilities of OpenAI, allowing for the creation of efficient, informative content.
                </div>
                <li class="proj-button">
                    <a class="proj-live" target="_blank">
                        Still WIP >
                    </a>
                </li>
            </div>
        </div>
    </div>
</body>
</html>