<!DOCTYPE html>
<html lang="en">
<body>
    <div class="section-container projs">
        <div class="proj-container">
            <div class="proj-header">Projects</div>
            <div class="proj-card">
                <div class="proj-header-small">Projects</div>
                <h2 class="proj-title">LPDAAC External Website</h2>
                <div class="proj-desc">
                    The Land Processes Active Archive Center (LPDAAC) is responsible for handling of 
                    land data products for approximately 200,000 users monthly. Raw data is collected 
                    from satellite sensors, such as Advanced Spaceborne Thermal Emission and Reflection 
                    Radiometer (ASTER) aboard NASA's Terra satellite, and processes it for the public, 
                    and archives the products for future use.
                </div>
                <li class="proj-button">
                    <a class="proj-live" href="https://lpdaac.usgs.gov" target="_blank">
                        CHECK IT OUT >
                    </a>
                </li>
            </div>
            <br>
            <!--<div class="proj-card">
                <h2 class="proj-title">FalafelAI</h2>
                <div class="proj-desc">
                    FalafelAI, a groundbreaking web application that seamlessly integrates OpenAI's 
                    GPT technology to breathe life into streaming mascots or pets, enabling them to engage with 
                    audiences in a whole new way.FalafelAI empowers these virtual companions with a dynamic and 
                    expressive voice, creating a captivating and interactive experience for your audience.
                </div>
                <li class="proj-button">
                    <a class="proj-live" target="_blank">
                        Still WIP >
                    </a>
                </li>
            </div>-->
        </div>
    </div>
</body>
</html>