<!DOCTYPE html>

<html> 
  <body>
    <div class="section-container tech-section">
        <div class="tech-title seafoam">
            My Tech Skillset
        </div>
        <div class="tech-item-header seafoam">
            Front-end
        </div>
        <ul class="tech-list">
            <li class="tech-item">HTML5</li>
            <li class="tech-item">CSS3</li>
            <li class="tech-item">Javascript</li>
            <li class="tech-item">Bootstrap</li>
            <li class="tech-item">JQuery</li>
        </ul>        
        <div class="tech-item-header seafoam">
            Back-end
        </div>
        <ul class="tech-list">
            <li class="tech-item">Python</li>
            <li class="tech-item">C/C++/C#</li>
            <li class="tech-item">PHP</li>
            <li class="tech-item">Perl</li>
            <li class="tech-item">PostgresSQL</li>
        </ul>
        <div class="tech-item-header seafoam">
            Frameworks
        </div>
        <ul class="tech-list">
            <li class="tech-item">Django</li>
            <li class="tech-item">Wagtail CMS</li>
            <li class="tech-item">Flask</li>
            <li class="tech-item">ASP.Net MVC</li>
        </ul>
        <div class="tech-item-header seafoam">
            Other skills
        </div>
        <ul class="tech-list">
            <li class="tech-item">Agile</li>
            <li class="tech-item">GitHub/GitLab</li>
            <li class="tech-item">CI/CD</li>
            <li class="tech-item">Docker</li>
            <li class="tech-item">Kubernetes</li>
        </ul>
    </div>
    <script src="js/base.js"></script>
</body> 
</html>

<!-- 
# front-end #
HTML5 CSS3 Javascript Bootstrap JQuery 
# back-end #
Python PHP Perl C C++ C# PostgresSQL
# frameworks #
 django, flask, ASP.Net MVC, Wagtail CMS
# Containerization #
Docker Kubernetes
# Other skills #
Agile methodology Git practices GitLab CI/CD
-->