<!DOCTYPE html>

<html> 
  <body>
    <div class="section-container">
        <div class="tech-title seafoam tech-section">
            My Tech Skillset
        </div>
        <div class="tech-headers">

        </div>
    </div>
    <script src="js/base.js"></script>
</body> 
</html>

<!-- 
# front-end #
HTML5 CSS3 Javascript Bootstrap JQuery 
# back-end #
Python PHP Perl C C++ C# PostgresSQL
# frameworks #
 django, flask, ASP.Net MVC, Wagtail CMS
# Containerization #
Docker Kubernetes
# Version Control #
Github Gitlab
# Other skills #
Agile methodology Git methodology GitLab CI/CD
-->